@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Regular.woff2') format('woff2');
  font-weight: normal;

}

@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Heavy.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Kyiv Type Sans';
  src: //        local("KyivType Sans"),
          //local("kyiv type sans"),
          //local("Kyiv Type Sans"),
          url('../fonts/KyivTypeSans-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Kyiv Type Serif';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  local("Kyiv Type Serif"),
  url('../fonts/KyivTypeSerif-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'KyivTypSerifns';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  url('../fonts/KyivTypeSerif-Regular.woff2') format('woff2');
  font-weight: 400;

}

@font-face {
  font-family: 'Kyiv Type Serif';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  local("Kyiv Type Serif"),
  url('../fonts/KyivTypeSerif-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Kyiv Type Serif';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  local("Kyiv Type Serif"),
  url('../fonts/KyivTypeSerif-Heavy.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Kyiv Type Serif';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  local("Kyiv Type Serif"),
  url('../fonts/KyivTypeSerif-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Kyiv Type Serif';

  src: local("KyivTypeSerif"),
  local("KyivType Serif"),
  local("KyivType serif"),
  local("Kyiv Type Serif"),
  url('../fonts/KyivTypeSerif-Black.woff2') format('woff2');
  font-weight: 900;
}
