@use '../abstracts/variables';
@use '../base/typo';

.faq-header{
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
.faq {
  box-sizing: border-box;
  padding: 2em;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4em;


   h2 {
    //font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    display: inline-block;
    border-radius: variables.$global-border-radius;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid variables.$global-btn-background-500;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  }

  details {
    box-sizing: border-box;
    min-height: 5px;
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: variables.$global-border-radius;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    transition: all .3s;
    background-color: variables.$global-btn-background-500;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    color: black;
    /*border-radius: 10em;*/
  }


  details[open] {
    min-height: 50px;
    background-color: variables.$clr-primary-light-600;
    //box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
  }

  details p {
    color: gray;
    font-weight: 300;
  }


  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }

  summary:focus {
    outline: none;

  }

  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*box-shadow: 0 0 0 5px rebeccapurple;*/
  }

  summary::-webkit-details-marker {
    display: none
  }

  .control-icon {
    /*fill: rebeccapurple;*/
    transition: .3s ease;
    pointer-events: none;
  }

  .control-icon-close {
    display: none;
  }

  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }

  details[open] .control-icon-expand {
    display: none;
  }
}