.slider-section .container{

  display: block;
}

.slider-settings{
  max-width: 47rem;
  margin-inline: auto;
  img{
    aspect-ratio: 16/10;
    object-fit: cover;
  }
  h3{
    text-align: center;
  }
}